# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore generated avatar
public/avatar_wide.png
public/email-spam.png.png  
public/PRASHIKSHAN.jpeg
public/prashikshan.jpeg
public/Resume HP.pdf